.scrollmargin {
    height: 80px;
    text-align: center;
}

.nav-side-menu {
    font-size: 1rem;
    background-color: #e2e5e8;
    color: #094472;
    z-index: 1;
    position: relative;
    height: calc(100vh - 5rem);
    overflow: auto;
}

.menu-list {
    width: 100%;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu li:hover {
    background-color: #b7babd;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.menu-content li {
    text-decoration: none;
    color: #094472;
}

.nav-side-menu li i {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.sub-menu li span {
    color: #00adef;
}

.chap .fa-book-open,
.chap.collapsed .fa-book-medical {
    display: inline-block;
}

.chap.collapsed .fa-book-open,
.chap .fa-book-medical {
    display: none;
}

.nav-side-menu .menu-list .menu-content {
    display: block;
}

.nav-side-footer {
    margin-top: 1.5rem;
}