footer {
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #094472;
    margin: 0;
    padding: 0;

}

footer a {
    color: white !important;
}

body {
    position: relative;
    min-height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
}

.container {
    padding-bottom: 3.5rem;
}

.bg-primary {
    background-color: #00adef !important;
}

.btn-primary {
    background-color: #00adef !important;
    border-color: #00adef !important;
}

.btn-outline-info:hover {
    color: white !important;
    background-color: #094472 !important;
    border-color: #094472 !important;
}

.btn-outline-info {
    color: #094472 !important;
    border-color: #094472 !important;
}

.contenu {
    padding-bottom: 3.5rem;
}

.text-primary {
    color: #00adef !important;
}

.card {
    border-radius: 0;
}

.card-body {
    overflow: auto;
}

#reponse {
    height: 89vh !important;
}

#enonce {
    height: 50vh !important;
}

#output {
    height: calc(39vh - 1rem) !important;
}

#output .card-body {
    font-family: monospace;
    font-size: 0.8rem;
    background-color: #0C0C0C;
    color: #CCCCCC;
}

.card-body img{
    max-width: 100%;
    height: auto;
}

.tooltip-inner {
    max-width: 100% !important;
}

.petit-texte {
    font-size: 0.7rem;
}

.pointer {
    cursor: help;
}

.edit75 {
    height: 75vh !important;
}

a,
.btn-link,
.nav-link:hover {
    color: #00adef;
}

.nav-tabs .nav-item .nav-link.active {
    color: #094472;
    text-decoration: #094472 underline;
}

.nav-tabs .nav-item .nav-link {
    font-weight: bold;
}

#accordion .card h5 {
    /*text-align: center;*/
    color: #00adef;
}

#dashboard {
    min-height: calc(100vh - 5rem);
}

.card iframe {
    width: 100%;
    height: calc(50vh - 3.5rem);
}

.fbr-0 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: auto;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: #00adef !important;
    border-color: #00adef !important;
}

.btn-outline-primary {
    color: #00adef !important;
    border-color: #00adef !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.card-hmax {
    min-height: calc(100vh - 10rem);
}

.AEC {
    background: linear-gradient(124deg, #ff0000, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 5s ease infinite;
    -z-animation: rainbow 5s ease infinite;
    -o-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}
.trumbowyg-highlight-form{
    width: 100%;
    border: 1px solid #dedede;
    font-size: 14px;
    padding: 7px;
    height: 10vh;
}